/* ========== CSS3 Spinners (https://github.com/tobiasahlin/SpinKit/) ========== */
.sprlib-spinner { display: block; text-align: center; height: 16px; }
.sprlib-spinner > div {
	display: inline-block;
	animation: sprlib-sk-bouncedelay 1.4s infinite ease-in-out both;
	width:16px; height:16px;
	background-color: #40b0df; border-radius: 100%; border: 3px solid #f2f9fc;
}
.sprlib-spinner .sprlib-bounce1 { animation-delay: -0.32s; }
.sprlib-spinner .sprlib-bounce2 { animation-delay: -0.16s; }
@keyframes sprlib-sk-bouncedelay { 0%, 80%, 100% {  transform: scale(0); } 40% { transform: scale(1.0); } }
